[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}
{{- if .signingkey }}
  signingkey = {{ .signingkey }}
{{- end }}
[core]
  excludesfile = ~/.gitignore_global
[init]
  defaultBranch = main
{{- if ne .chezmoi.os "darwin" }}
[credential]
  helper = store
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
[commit]
  gpgsign = true
[gpg]
  program = /opt/homebrew/bin/gpg
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
{{- end }}
