#!/usr/bin/env bash

set -euo pipefail

mkdir -p $HOME/.docker/cli-plugins
ln -sfn /opt/homebrew/opt/docker-compose/bin/docker-compose $HOME/.docker/cli-plugins/docker-compose
ln -sfn /opt/homebrew/bin/docker-buildx $HOME/.docker/cli-plugins/docker-buildx
