{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

{{   if (eq .chezmoi.osRelease.id "fedora") -}}
PKG_VERSION=v6.4.15
PKG_URL=https://github.com/MuhammedKalkan/OpenLens/releases/download/$PKG_VERSION/OpenLens-${PKG_VERSION:1}.x86_64.rpm

sudo dnf install -y $PKG_URL
{{   end -}}

{{ end -}}
