{{- if or .work (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

# https://storage.yandexcloud.net/yandexcloud-yc/release/stable
# 0.123.0

curl -fsSL storage.yandexcloud.net/yandexcloud-yc/install.sh | bash -s -- -n
{{- end }}
