{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

gnome-shell-extension-installer --yes --restart-shell \
  6 \
  615 \
  779 \
  906 \
  1653 \
  1460 \
  1720 \
  28 \
  3733 \
  307 \
  3843

gsettings set org.gnome.shell enabled-extensions "[ \
  'appindicatorsupport@rgcjonas.gmail.com', \
  'apps-menu@gnome-shell-extensions.gcampax.github.com', \
  'clipboard-indicator@tudmotu.com', \
  'dash-to-dock@micxgx.gmail.com', \
  'gTile@vibou', \
  'just-perfection-desktop@just-perfection', \
  'sound-output-device-chooser@kgshank.net', \
  'tiling-assistant@leleat-on-github', \
  'tweaks-system-menu@extensions.gnome-shell.fifi.org', \
  'Vitals@CoreCoding.com', \
  'weeks-start-on-monday@extensions.gnome-shell.fifi.org' \
]"

schemas_path=$HOME/.local/share/glib-2.0/schemas/
mkdir -p $schemas_path
find ~/.local/share/gnome-shell/extensions/ -type f \
  | grep -i gschema.xml \
  | xargs -i cp {} $schemas_path
glib-compile-schemas $schemas_path

# dash-to-dock
gsettings set org.gnome.shell.extensions.dash-to-dock dock-fixed true
gsettings set org.gnome.shell.extensions.dash-to-dock extend-height true
gsettings set org.gnome.shell.extensions.dash-to-dock dock-position 'LEFT'
gsettings set org.gnome.shell.extensions.dash-to-dock dash-max-icon-size 40
gsettings set org.gnome.shell.extensions.dash-to-dock show-apps-at-top true
gsettings set org.gnome.shell.extensions.dash-to-dock click-action 'minimize'
gsettings set org.gnome.shell.extensions.dash-to-dock custom-theme-shrink true
gsettings set org.gnome.shell.extensions.dash-to-dock disable-overview-on-startup true

# favorite-apps
{{- if .work }}
gsettings set org.gnome.shell favorite-apps "[ \
  'org.gnome.Nautilus.desktop', \
  'org.gnome.Terminal.desktop', \
  'firefox.desktop', \
  'org.gnome.Evolution.desktop', \
  'org.telegram.desktop.desktop', \
  'com.mattermost.Desktop.desktop', \
  'PBE.QOwnNotes.desktop', \
  'code.desktop', \
  'lens.desktop' \
]"
{{- else }}
gsettings set org.gnome.shell favorite-apps "[ \
  'org.gnome.Nautilus.desktop', \
  'org.gnome.Terminal.desktop', \
  'google-chrome.desktop', \
  'mozilla-thunderbird.desktop', \
  'org.telegram.desktop.desktop', \
  'PBE.QOwnNotes.desktop', \
  'code.desktop' \
]"
{{- end }}

# Terminal
fc-cache
profile=$(gsettings get org.gnome.Terminal.ProfilesList default | tr -d "'")
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ font "MesloLGS NF 11"
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ use-system-font false
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ default-size-columns 125
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ default-size-rows 30
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ scrollback-lines 100000

{{ end -}}
