{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

source $HOME/.asdf/asdf.sh
source $HOME/.config/.github_api_token

{{- $plugins := dict
  "bat"        "latest"
  "cheat"      "latest"
  "chezmoi"    "latest"
  "direnv"     "latest"
  "exa"        "latest"
  "fd"         "latest"
  "fzf"        "latest"
  "hadolint"   "latest"
  "ripgrep"    "latest"
  "shellcheck" "latest"
  "shfmt"      "latest"
  "yq"         "latest"
  "helm"       "latest"
  "kubectl"    "latest"
  "kubectx"    "latest"
  "packer"     "latest"
  "terraform"  "latest"
  "terragrunt" "latest"
  "vault"      "latest"
-}}

{{ range (keys $plugins) -}}
{{-  $key := . }}
{{-  $val := get $plugins $key }}

asdf plugin list | grep -q "^{{ $key }}$" || asdf plugin add {{ $key }}

{{-  if not (eq $val "None") }}
asdf install {{ $key }} {{ $val }} || true
asdf global {{ $key }} {{ $val }} || true
{{-  end -}}
{{ end }}

{{ end -}}
